  body {
     background-color:rgb(212, 205, 212);
    padding-left: 5%;
  }

  .pagina {
    display: flex;
    gap: 40px;
  }

  .coluna {
    flex: 1;
    background-color:rgb(231, 225, 225);
    padding: 15px;
    border-radius: 10px;
  }

  .box {
    display: flex;
    align-items: center;
    gap: 30px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: rgb(241, 209, 224);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .bloco{
    margin-bottom: 70px;
  }


   h1 {
    color: rgb(240, 88, 151);
    margin-bottom: 20px;
    font size: 40px;

  }

  ul {
    margin-bottom: 20px;
    padding-left: 40px;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  p {
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

  }

  .coluna:last-child {
  padding-left: 50px;
   background-color:rgb(231, 225, 225);
}

.coluna:first-child {
  padding-left: 40px;
  background-color:rgb(231, 225, 225);
}

.box h1 {
  color: black;
  
}

.link-certificado {
  text-decoration: none;
  color: #4915da; /* Um tom dourado metálico refinado */
  font-weight: 600;
  font-family: 'Segoe UI', Roboto, sans-serif;
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease;
}

/* A setinha indicando o link externo */
.link-certificado::after {
  content: '↗'; 
  margin-left: 4px;
  font-size: 0.8em;
  transition: transform 0.3s ease;
}

/* Linha discreta embaixo */
.link-certificado::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: rgba(197, 160, 89, 0.3); /* Linha clarinha */
  transition: background-color 0.3s ease;
}

/* Efeito ao passar o mouse */
.link-certificado:hover {
  color: #a38345; /* Escurece levemente o dourado */
}

.link-certificado:hover::after {
  transform: translate(2px, -2px); /* A seta "flutua" para o canto */
}

.link-certificado:hover::before {
  background-color: rgba(197, 160, 89, 1); /* A linha ganha cor total */
}

p, li {
  font-weight: 600; /* Um negrito levemente mais fino e elegante */
  color: #333;      /* Um cinza bem escuro para não cansar a vista */
}

hr {
  border: none;          /* Remove a borda padrão */
  height: 2px;           /* Define a espessura (mais grosso) */
  background-color: #838080; /* Cor da linha */
  border-radius: 10px;   /* Arredonda as pontas */
  margin: 10px 0;        /* Espaço em cima e embaixo */
  width: 100%;            /* Opcional: deixa a linha mais curta e centralizada */
}